.add-supplier-modal__container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.281);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.add-supplier-modal__forms-wrapper {
    background: white;
    padding: 2rem 3rem;
    border-radius: 10px;
    position: relative;
}

.add-supplier-modal__close {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 2rem;
    cursor: pointer;
}

.add-supplier-modal__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 45px;
}

.add-supplier-modal__input {
    width: 350px;
    padding: 0.3rem 1.2rem;
    font-size: 1rem;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.add-supplier-modal__input:focus {
    border: 1px solid var(--blue-color);
}

.add-supplier-modal__access-controls-wrapper {
    width: 100%;

    display: flex;
    gap: 10px;
}

.add-supplier-modal__access-title {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.add-supplier-modal__access-controls-wrapper {
    display: flex;
    flex-direction: column;
}

.add-supplier-modal__submit {
    width: 350px;
    font-size: 1rem;
    outline: none;
    border: none;
    background: var(--blue-color);
    padding: 0.5em 1em;
    font-weight: 500;
    color: white;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.add-supplier-modal__submit:hover {
    transform: scale(1.03);
}