.card-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 10px;
    color: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.card__number {
    font-size: 1.2rem;
    font-weight: 600;
}

.card__description {
    font-weight: 400;
    font-size: 0.98rem;
}

.card__icon {
    font-size: 35px;
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .card__number {
        font-size: 1rem;
    }
    
    .card__description {
        font-size: 0.9rem;
    }
    
    .card__icon {
        font-size: 30px;
    }
}


@media screen and (min-width: 1000px) and (max-width: 1199px) {
}
