.leave-tracker {
    height: 100%;
}

.leave-tracker__controls-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leave-tracker__input {
    padding: 0.3rem 1rem;
    width: 350px;
    font-size: 0.9rem;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
    transition: all 0.3s ease;
}

.leave-tracker__input:focus {
    border: 1px solid var(--blue-color);
}

.leave-tracker__right-controls-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.leave-tracker__category {
    width: 200px;
    padding: 0.3rem 1rem;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
    font-size: 0.9rem;
    transition: all 0.3s ease;
    margin-right: 10px;
    cursor: pointer;
}

.leave-tracker__category:focus {
    border: 1px solid var(--blue-color);
}

.leave-tracker__add-button {
    padding: 0.4rem 1rem;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 0.9rem;
    transition: all 0.3s ease;
    margin-right: 10px;
    font-weight: 500;
    background: var(--blue-color);
    color: white;
    cursor: pointer;
}

.leave-tracker__add-button:hover {
    transform: scale(1.02);
}


.leave-tracker__table-wrapper {
    margin-top: 30px;
    height: 92%;
}

.leave-tracker__table {
    width: 100%;
    border-collapse: collapse;  
}

.leave-tracker__table-th {
    text-align: left;
    padding: 0.5rem 1rem;
    background: var(--blue-color);
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
}

.leave-tracker__table-th:nth-child(1) {
    border-top-left-radius: 10px;
}

.leave-tracker__table-th:nth-child(5) {
    border-top-right-radius: 10px;
}

.leave-tracker__table-td {
    text-align: left;
    padding: 0.5rem 1rem;
    font-weight: 500;
}

.leave-tracker__table-body-tr:nth-child(even) {
    background: #e6eafa;
}

/* APPROVE LEAVE ICON */
.approve-leave-request__icon {
    font-size: 1.3rem;
    color: var(--blue-color);
    transition: all 0.3s ease;
    cursor: pointer;
}

