.staff-file-leave-modal__container {
    position: fixed;
    background: rgba(0, 0, 0, 0.363);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
}


.staff-file-leave-modal__forms-wrapper {
    background: white;
    padding: 2rem 3rem;
    border-radius: 10px;
    position: relative;
}

.staff-file-leave-modal__close {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 2rem;
    cursor: pointer;
}

.staff-file-leave__title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}

.staff-file-leave-modal__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 45px;
}

.staff-file-leave-modal__input {
    width: 500px;
    padding: 0.3rem 1.2rem;
    font-size: 1rem;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.staff-file-leave-modal__input:focus {
    border: 1px solid var(--blue-color);
}

.staff-file-leave-modal__textarea {
    width: 500px;
    height: 150px;
    padding: 0.3rem 1.2rem;
    border-radius: 5px;
    resize: none;
    font-size: 1rem;
    transition: all 0.3s ease;
    outline: none;
}

.staff-file-leave-modal__textarea:focus {
    border: 1px solid var(--blue-color);
}

.staff-file-leave-modal__date-label {
    margin-bottom: 20px;
    font-size: 1.1rem;
    font-weight: 500;
}

.staff-file-leave-modal__date-labe-middle {
    margin-top: 15px;
    margin-bottom: 15px;
}

.staff-file-leave-modal__submit {
    width: 500px;
    font-size: 1rem;
    outline: none;
    border: none;
    background: var(--blue-color);
    padding: 0.5em 1em;
    font-weight: 500;
    color: white;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.staff-file-leave-modal__submit:hover {
    transform: scale(1.03);
}